<nav class="navbar navbar-dark w-100" >

  {% if site.backlink != nil %}
    {% assign backlink = site.backlink | split: ", " %}
    <a href="{{ backlink[1] }}" class="navbar-brand nav-item text-light" target="_blank">{{ backlink[0] }} </a>
  {% else %}
    <a href="{{ site.url }}{{ site.baseurl }}" class="navbar-brand nav-item text-light">{% include title.html %}</a>
  {% endif %}

  <div class="nav justify-content-end">
    {% if site.backlink != nil %}
    <li class="nav-item">
      <a href="{{ site.url }}{{ site.baseurl }}" class="nav-item nav-link text-light active">{% include title.html %}</a>
    </li>
    {% endif %}
    {% include related_communties.html %}
  </div>
</nav>