<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <section class="bg-dark shadow-sm">
        <div class="container">
          {% include navigation.html %}
        </div>
    </section>

    <section class="jumbotron bg-light">
      <div class="container">
        <h1 class="jumbotron-heading">
          {{ page.title }}
        </h1>
        <p class="lead text-muted">
          {{ page.time }}
        </p>
        {{ page.description }}            
      </div>
    </section>
    <section class="bg-white">
      <div class="container">
      {% unless page.overwrite == true %}
      {% assign title = page.title | downcase %}
      {% if title == 'facilitator' %}
        {% capture role_docs%}{% include default_roles/facilitator.md %}{% endcapture %}
        {{ role_docs | markdownify }}
      {% endif %}
      {% if title == 'scheduler' %}
        {% capture role_docs%}{% include default_roles/scheduler.md %}{% endcapture %}
        {{ role_docs | markdownify }}
      {% endif %}
      {% if title == 'timekeeper' %}
        {% capture role_docs%}{% include default_roles/timekeeper.md %}{% endcapture %}
        {{ role_docs | markdownify }}
      {% endif %}
      {% endunless %}
      {{ content }}
      </div>
    </section>
  </body>
</html>

  
