<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <section class="bg-dark shadow-sm">
        <div class="container">
          {% include navigation.html %}
        </div>
    </section>
    <section class="jumbotron bg-light">
      <div class="container">
        <h1 class="jumbotron-heading">
          {{ page.title }}
        </h1>
        <p class="lead text-muted">
          {{ page.time }}
        </p>
        {{ page.description }}            
      </div>
    </section>
    <section class="bg-white">
      <div class="container">
      {% assign title = page.title | downcase %}
      {% if title == 'scheduler' %}
        {% capture role_docs%}{% include default_roles/scheduler.md %}{% endcapture %}
        {{ role_docs | markdownify }}
      {% endif %}

      {% if title == 'scribe' %}
      {% capture role_docs%}{% include default_roles/scribe.md %}{% endcapture %}
      {{ role_docs | markdownify }}
      {% endif %}
      
      {{ content }}

      {% capture links %}{% include links.md %}{% endcapture %}
      {{ links | markdownify }}
      </div>
    </section>
  </body>
</html>

  